################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/Stats/.vs/Stats/FileContentIndex
/API/Stats/Stats.API/bin
